/* full website margin */

* {
    margin: 0;
    padding: 0;
}

/* header section styles */

body {
    font-family: 'Merriweather', serif;
}

.container-1 {
    background-image: url('../resources/Banner\ Image.png');
    background-position: center;
    background-repeat: no-repeat;
    margin: 50px 140px 0px;
    border-radius: 16px;
    /* background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
}

.banner {
    text-align: center;
    padding: 177px 344px 177px;
}

.banner-greeting {
    color: #FFF;
    font-size: 32px;
    padding-bottom: 16px;
}

.banner-title {
    color: #FFF;
    font-size: 72px;
}

/* main section styles */

.container-2 {
    margin: 120px 399px;
    text-align: center;
}

.text-title {
    color: #F00;
    font-size: 88px;
    margin-bottom: 48px;
}

.text-info {
    color: #F00;
    font-size: 24px;
    margin-bottom: 16px;
}

.text-greeting {
    color: #070211;
    font-size: 48px;
    margin-bottom: 48px;
}

.container-3 {
    background-image: url('../resources/Vectorrr.png');
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px 140px 120px;
}

.party {
    display: flex;
    justify-content: space-between;
    margin: 0px 140px 120px;
    padding: 68.11px 138px 67.23px 126px;
}

.party-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    padding: 57.89px 94.17px 24px 0px;
}

.party-info {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 48px;
    padding: 0px 39.17px 48px 0px;
}

.party-btn {
    color: #FFF;
    background: none;
    text-align: center;
    font-size: 20px;
    border: none;
    font-weight: 700;
    padding: 0px 601.17px 142px 32px;
}

.container-4 {
    margin: 0px 140px 120px;
    text-align: center;
}

.join-info {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.join-title {
    color: #F00;
    font-size: 32px;
    font-weight: 600;
}

.join-btn {
    margin: 48px 577px 110px 576px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: none;
}

.text-position {
    margin: 100px 386px 0px 385px;
}

.container-5 {
    margin: 0px 140px 120px;
}

.new-offer {
    margin: 0px 140px 120px;
    display: flex;
}

.best {
    margin: 104px 0px 104px 0px;
}

.happy {
    margin: 112px 0px 0px 118px;
}

.ellipse {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 49.08px;
}

.best-greeting {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}

.best-title {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 22px;
}

.best-info {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    padding-right: 70px;
}

.title {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 16px;
}

.info {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 43px;
}

.gift {
    margin: 0px 140px 0px;
}

.gift-greeting {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}

.gift-title {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 22px;
}

.gift-info {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    padding: 0px 424px 48px 0px;
}

.gift-img-1 {
    padding: 0px 24px 24px 0px;
}

.gift-img-2 {
    padding-bottom: 24px;
}

.gift-img-3 {
    padding-right: 24px;
}

.subscribe {
    margin: 0px 140px;
    padding: 80px 212px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.subscribe-title {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    padding: 40px 0px 22px 0px;
}

.subscribe-info {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 48px;
}

.search {
    color: rgba(7, 2, 17, 0.30);
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    padding: 25px 267px 25px 30px;
}

.sub-btn {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    padding: 24px 56px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

/* footer section style */

.container-6 {
    background: #070211;
    padding: 0px 140px;
}

.style {
    background: rgba(255, 255, 255, 0.15);
}

.con-info {
    display: flex;
    justify-content: space-between;
    padding: 120px 135px 50px 0px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

.address {
    padding-right: 559px;
}

.top-right {
    display: flex;
}

.top-img {
    padding: 0px 16px;
}

.contact {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

.link {
    text-align: center;
    padding: 48px 0px;
}

.copy {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

.unsubscribe {
    background: none;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    border: none;
}

.copyright {
    padding: 50px 0px 120px 0px;
    display: flex;
    justify-content: space-between;
}